* {
box-sizing: border-box;
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.body {
  font-family: 'Jost', sans-serif;
}

.container{
  max-width: 86.25rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .0625rem solid #ECF3FF;
}

.navbar-wrapper{
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  list-style-type: none;
  gap: 1.875rem;
  margin-left: 10.3125rem;
}

.header-nav-item {
  color: #5D6C7B;
  font-weight: 400;
  font-size: .75rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-phone-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282739;
  margin-right: 10.3125rem;
}

.header-links{
  display: flex;
  align-items: center;
  gap: .5313rem;
  margin-left: 1.875rem;
}

.section{
  margin-top: 1.6875rem;
}

.section-search{
  max-width: 69.375rem;
  margin: auto;
}

.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title{
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.button{
  background-color: #6F73EE;
  border-radius: .3125rem;
  border: none;
  height: 2.5rem;
}

.text-catalog{
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  margin-right: 1.125rem;
}

.button-catalog{
  display: flex;
  align-items: center;
  gap: .8125rem;
}

.lines {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  height: .625rem;
  margin-left: .9375rem;
}

.line-middle {
  height: 2px;
  background-color: #fff;
  width: .8125rem;
}

.lines::before,
.lines::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
}

.lines::before {
  width: .8125rem;
}

.lines::after {
  width: .4375rem;
}

.input-wrapper{
  display: flex;
  align-items: center;
}

.input {
  border: .0938rem solid #6F73EE;
  border-top-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5D6C7B;
  width: 35.1875rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}
.button-search{
  width: 2.5rem;
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;  
}

.actions{
  display: flex;
  align-items: center;
  gap: .625rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282739;
}
.user-actions{
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.header-content {
  background-image: url(../img/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/mask.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; 
  -webkit-mask-image: linear-gradient(to right, black 0%, transparent 70%);
  mask-image: linear-gradient(to right, black 0%, transparent 70%);
}


.header-wrapper{
  margin-left: 8.5rem;
  display: flex;
  flex-direction: column;
}

.info-wrapper{
  display: flex;
  align-items: center;
  margin-top: 3.5625rem;
}

.info-icon {
  margin-right: .5rem;
}

.info-adress{
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: #fff;
}

.work-time{
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: #fff;
opacity: 0.7;
}

.header-title{
width: 38.25rem;
font-weight: 600;
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #fff;
margin-bottom: .4375rem;
}

.header-text{
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #fff;
}

.header-features{
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 2.1875rem;
}

.header-features-item{
  display: flex;
  align-items: center;
  max-width: 12.75rem;
  gap: .9375rem;
}

.header-features-text{
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
color: #fff;
}

.header-button{
  width: 9.9375rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6F73EE;
  background-color: #fff;
  margin-bottom: 3.5rem;
}

.testdrive-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.testdrive-content{
  margin-left: 135px;
}

.testdrive-title{
font-weight: 600;
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
width: 40.3125rem;
}

.testdrive-text{
font-weight: 400;
font-size: 20px;
line-height: 119%;
letter-spacing: 0%;
}

.testdrive-features{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.testdrive-features-item{
  display: flex;
  align-items: center;
  gap: .6875rem;
}

.training-wrapper{
  display: flex;
  align-items: center;
  margin-top: 6.25rem;
}

.training-content{
  margin-left: 5.9375rem;
}

.training-title{
font-weight: 600;
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
width: 36.5rem;
}

.training-text{
font-weight: 400;
font-size: 20px;
line-height: 119%;
letter-spacing: 0%;
}

.training-features{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.training-features-item{
  display: flex;
  align-items: center;
  gap: .6875rem;
}