* {
box-sizing: border-box;
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.body {
  font-family: 'Jost', sans-serif;
}

.container{
  max-width: 86.25rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .0625rem solid #ECF3FF;
}

.navbar-wrapper{
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  list-style-type: none;
  gap: 1.875rem;
  margin-left: 10.3125rem;
}

.header-nav-item {
  font-family: Jost;
  color: #5D6C7B;
  font-weight: 400;
  font-size: .75rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-phone-link {
  font-family: Jost;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282739;
  margin-right: 10.3125rem;
}

.header-links{
  display: flex;
  align-items: center;
  gap: .5313rem;
  margin-left: 1.875rem;
}

.section{
  margin-top: 1.6875rem;
}

.section-search{
  max-width: 69.375rem;
  margin: auto;
}

.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title{
  font-family: Jost;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.button{
  background-color: #6F73EE;
  border-radius: .3125rem;
  border: none;
  height: 2.5rem;
  cursor: pointer;
}

.text-catalog{
  font-family: Jost;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  margin-right: 1.125rem;
}

.button-catalog{
  display: flex;
  align-items: center;
  gap: .8125rem;
}

.lines {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
  height: .625rem;
  margin-left: .9375rem;
}

.line-middle {
  height: 2px;
  background-color: #fff;
  width: .8125rem;
}

.lines::before,
.lines::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
}

.lines::before {
  width: .8125rem;
}

.lines::after {
  width: .4375rem;
}

.input-wrapper{
  display: flex;
  align-items: center;
}

.input {
  border: .0938rem solid #6F73EE;
  border-top-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5D6C7B;
  width: 35.1875rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}
.button-search{
  width: 2.5rem;
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;  
}

.actions{
  display: flex;
  align-items: center;
  gap: .625rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282739;
}
.user-actions{
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.header-content {
  background-image: url(../img/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/mask.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; 
  -webkit-mask-image: linear-gradient(to right, black 0%, transparent 70%);
  mask-image: linear-gradient(to right, black 0%, transparent 70%);
}


.header-wrapper{
  margin-left: 8.5rem;
  display: flex;
  flex-direction: column;
}

.info-wrapper{
  display: flex;
  align-items: center;
  margin-top: 3.5625rem;
}

.info-icon {
  margin-right: .5rem;
}

.info-adress{
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

.work-time{
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  opacity: 0.7;
}

.header-title{
  font-family: Jost;
  width: 38.25rem;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .4375rem;
}

.header-text{
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

.header-features{
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 2.1875rem;
}

.header-features-item{
  display: flex;
  align-items: center;
  max-width: 12.75rem;
  gap: .9375rem;
}

.header-features-text{
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #fff;
}

.header-button{
  font-family: Jost;
  width: 9.9375rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #6F73EE;
  background-color: #fff;
  margin-bottom: 3.5rem;
}

.testdrive-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.testdrive-content{
  margin-left: 135px;
}

.testdrive-title{
  font-family: Jost;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 40.3125rem;
}

.testdrive-text{
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  line-height: 119%;
  letter-spacing: 0%;
}

.testdrive-features{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.testdrive-features-item{
  display: flex;
  align-items: center;
  gap: .6875rem;
}

.training-wrapper{
  display: flex;
  align-items: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.training-content{
  margin-left: 5.9375rem;
}

.training-title{
  font-family: Jost;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 36.5rem;
}

.training-text{
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  line-height: 119%;
  letter-spacing: 0%;
}

.training-features{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.training-features-item{
  display: flex;
  align-items: center;
  gap: .6875rem;
}

.section-cta{
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.bg-grey{
  background-color: #F4F7FB;
  position: relative;
}

.cta-image{
  position: absolute;
  bottom: 0;
  right: 11.25rem;
  max-width: 25.625rem;

}

.cta-form-wrapper{
  padding: 5.5rem 38.5rem 2.875rem 8.4375rem;
}

.input-group-wrapper{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.input{
  position: relative;
  flex-grow: 1;
  width: 16.4375rem;
  height: 3.3125rem;
  border: .0625rem solid #EAEBED;
  border-radius: .3125rem;
}

.cta-form-button{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
  padding-top: .9375rem;
  padding-bottom: 1.9375rem;
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.cta-form-title{
  font-family: Jost;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #282739;
  margin-bottom: 2.5rem;
}

.cta-form-text{
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282739;
  margin-bottom: 1.25rem;
}

.phone-mask{
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 15.5%;
  padding-left: 1.5625rem;
}

.phone-mask::placeholder{
  color: rgba(93, 108, 123, 1);
}

.cta-form-footer{
  display: flex;
  align-items: center;
  width: 20.9375rem;
}

.notify{
  display: flex;
  align-items: center;
  gap: .75rem;
}

.notify-text{
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #282739;
}

.notify-icon{
  top: 0;
}

.section-footer-top{
  background-color: #6F73EE;
  height: 6.0625rem;
}

.footer-top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10.3125rem;
  margin-right: 10.3125rem;
  padding-top: 1.5rem;
  padding-bottom: 1.3125rem;
}

.footer-top-title{
  font-family: Jost;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 28.8125rem;
}

.footer-top-form-button{
  background-color: #FFFFFF;
  color: #6F73EE;
  padding-top: .9375rem;
  padding-bottom: 1.9375rem;
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.modal-input{
  width: 25.625rem;
  height: 3.3125rem;
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.modal-input::placeholder {
  color: #FFFFFF;
}

.modal-input-group{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.footer{
  background-color: rgba(244, 247, 251, 1);
  padding-left: 10.3125rem;
  padding-right: 10.3125rem;
}

.footer-menu{
  display: flex;
  justify-content: space-between;
  padding-top: 2.875rem;
  margin-bottom: 4.6875rem;
}

.footer-menu-title{
  margin-top: 0;
  font-family: Jost;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(40, 39, 57, 1);
}

.callback{
  font-family: Jost;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(111, 115, 238, 1);
  text-decoration: none;
}

.footer-menu-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-menu-link{
  text-decoration: none;
  font-family: Jost;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(93, 108, 123, 1);
}

.footer-menu-item:not(:last-child){
  margin-bottom: .625rem;
}

.column-2{
  display: block;
  columns: 2;
  gap: 2.5rem;
}

.text-number{
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(40, 39, 57, 1)
}

.text-time{
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color:rgba(93, 108, 123, 1)
}

.footer-seporator{
  opacity: 15%;
}

.footer-links{
  display: flex;
  align-items: center;
}

.links-download-wrapper{
  display: flex;
  gap: .625rem;
  margin-left: 3.6875rem;
}

.links-wrapper{
  display: flex;
  gap: .625rem;
  margin-left: 15.625rem;
}

.footer-bottom{
  display: flex;
  align-items: center;
}

.footer-legal{
  display: flex;
  gap: 2.75rem;
  margin-right: 23.9375rem;
}

.footer-legal-item{
  text-decoration: none;
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(93, 108, 123, 1);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 16.199rem;
  border: .0938rem solid rgba(234, 235, 237, 1);
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding-top: .625rem;
  padding-right: .625rem;
  padding-left: .625rem;
}

.card-top{
  background-color: rgba(240, 241, 245, 1);
  display: flex;
  flex-direction: column;
  height: 14.4375rem;
  margin-bottom: 1.25rem;
}

.button-hit{
  font-family: Jost;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: rgba(238, 104, 95, 1);
  border: none;
  border-radius: .3125rem;
  width: 2.5625rem;
  height: 1.5625rem;
}

.card-bottom{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-title{
  font-family: Jost;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(40, 39, 57, 1);
}

.cards-features{
  columns: 2;
  list-style-type: none;
  padding-left: 0;
  column-gap: 1.5rem;
  margin-bottom: 1.5625rem;
}

.cards-features-item {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.card-features-text{
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(93, 108, 123, 1);
}

.price-wrapper{
  margin-right: 1.625rem;
}

.old-price{
  font-family: Jost;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: rgba(93, 108, 123, 1);
  margin-bottom: 0;
}

.new-price{
  font-family: Jost;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(40, 39, 57, 1);
  margin-top: 0;
}

.clients-info {
  display: flex;
  align-items:center;
}

.action-icons {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.action-icon{
  border: 1.3px solid rgba(234, 235, 237, 1);
  border-radius: 50%;
  padding: .625rem;
}

.button-record {
  width: 100%;
  margin-bottom: 1.25rem;
  font-family: Jost;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.good-cards-title {
  font-family: Jost;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  width: 45.75rem;
  margin-bottom: 0;
}

.cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.title-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.button-new {
  font-family: Jost;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: rgba(117, 209, 74, 1);
  border: none;
  border-radius: .3125rem;
  width: 3.9375rem;
  height: 1.5625rem;
}



